name: PR fast check
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
permissions:
  contents: read

defaults:
  run:
    shell: bash -x {0}

env:
  GCS_BUCKET: "gh-af"

jobs:
  initial:
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'test:skip:pr') }}
    uses: ./.github/workflows/incl_initial.yaml
    secrets: inherit

  module-test-python:
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'test:skip:pr') }}
    needs: [initial]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Get source
        uses: ./.github/actions/get-src
        with:
          load_submodules: "false"
          with_nix: "true"
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - run: ./support/ci/pipelines/test-python.sh

  validate-end:
    runs-on: ubuntu-latest
    if: ${{ always() }}
    needs:
      - initial
      - module-test-python
    steps:
      - name: check
        run: |
          if [[ "${{ contains(github.event.pull_request.labels.*.name, 'test:skip:pr') }}" == "true" ]]; then
            echo "PR tests skipped due to test:skip:pr label"
          else
            if echo "${{ join(needs.*.result, ' ') }}" | grep -Eq 'failure|cancelled'; then
              echo "Detected failed or cancelled job(s): ${{ join(needs.*.result, ' ') }}"
              exit 1
            fi
          fi
