name: GenVM full
on:
  merge_group:
defaults:
  run:
    shell: bash -x {0}

env:
  GCS_BUCKET: "gh-af"

jobs:
  initial:
    uses: ./.github/workflows/incl_initial.yaml
    secrets: inherit

  module-test-python:
    needs: [initial]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Get source
        uses: ./.github/actions/get-src
        with:
          load_submodules: "false"
          with_nix: "true"
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - run: ./support/ci/pipelines/test-python.sh

  module-test-rust:
    needs: [initial]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Get source
        uses: ./.github/actions/get-src
        with:
          load_submodules: "true"
          with_nix: "true"
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
      - name: Set up Cloud SDK # needed for gcloud to upload runners to GCS for caching
        uses: google-github-actions/setup-gcloud@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - run: |
          docker build --progress=plain modules/webdriver/
          TAG=$(docker build -q  modules/webdriver/)
          docker run --rm -d $TAG && \
          ./support/ci/pipelines/test-rust.sh && ./support/ci/cargo-clippy.sh

  validate-end:
    runs-on: ubuntu-latest
    if: ${{ always() }}
    needs:
      - initial
      - module-test-python
      - module-test-rust
    steps:
      - name: check
        run: |
          results="${{ join(needs.*.result, ' ') }}"
          echo "$results"
          if echo "$results" | grep -qiE '(failure|cancelled)'; then
            echo "One or more jobs failed/cancelled"
            exit 1
          fi
